@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
  font-family: "Libre Franklin", sans-serif;
}

body, html{
  background-color: #f4f6f6;
  overflow: auto;
  height: 100%;
  scroll-behavior: smooth;
}

nav{
  background-color: #f4f6f6;
}

