@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
  font-family: "Libre Franklin", sans-serif;
}

body, html{
  background-color: #f4f6f6;
  overflow: hidden;
}

nav{
  background-color: #f4f6f6;
}

.ellipse {
  background-color: #b8def79e;
  border-radius: 50%;
  width: 70vw;
  height: 70vw;
  position: absolute;
  left: -20vw;
  top: -20vw;
}

.ellipse2 {
  background-color: #81c5f39e;
  border-radius: 50%;
  width: 90vw;
  height: 90vw;
  position: absolute;
  left: 30vw;
  top: -60vw;
  transform: rotate(1.14deg);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .ellipse {
    width: 60vw;
    height: 60vw;
    left: -25vw;
    top: -25vw;
  }

  .ellipse2 {
    width: 80vw;
    height: 80vw;
    left: 20vw;
    top: -50vw;
  }
}

@media (max-width: 480px) {
  .ellipse {
    width: 50vw;
    height: 50vw;
    left: -30vw;
    top: -30vw;
  }

  .ellipse2 {
    width: 70vw;
    height: 70vw;
    left: 15vw;
    top: -45vw;
  }
}
